
#app[data-v-6eb9d0de]{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
#cover[data-v-6eb9d0de]{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #999;
    opacity: .8;
    z-index: -1;
}

.main-header[data-v-60208acb]{
    text-align: center;
}
.main-header h1[data-v-60208acb]{
    font-size: 100px;
    color: rgba(175, 47, 47, 0.4);
    font-weight: 100;
    margin: 20px;
}

#footer[data-v-93a94bda]{
    margin-top: 40px;
    text-align: center;
    color: #bfbfbf;
    font-size: 10px;
    text-shadow: 0 1px 0 gray;
}

.todo-item[data-v-69a42014]{
    position: relative;
    background-color: #fff;
    font-size: 24px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
    color: grey;
}
.todo-item:hover .destory[data-v-69a42014]::after{
    content: '×';
}
.content[data-v-69a42014]{
    white-space: pre-line;
    word-break: break-all;
    padding: 15px 60px 15px 15px;
    margin-left: 45px;
    display: inline-block;
    line-height: 1.2;
    transition: color 0.4s;
}
.completed label[data-v-69a42014]{
    color: #d9d9d9;
    text-decoration: line-through;
}
input[data-v-69a42014]{
    display: none;
}
.checkbox_label[data-v-69a42014]{
    text-align: center;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    bottom: 0;
    border: 0;
    background: 0;
    margin: auto 0;
    display: inline-block;
}
.checkbox_label[data-v-69a42014]::after{
    content: "";
    background: url(noCheck.png);
    width: 40px;
    height: 40px;
    background-size: cover;
    display: block;
    opacity: 0.1;
    margin-left: 5px;
}
.toggle:checked+.checkbox_label[data-v-69a42014]::after{
    content: "";
    background: url(Check.png);
    width: 40px;
    height: 40px;
    background-size: cover;
    display: block;
    margin-left: 5px;
}
.destory[data-v-69a42014]{
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;
    width: 40px;
    height: 40px;
    margin: auto 0;
    font-size: 30px;
    color: #cc9a9a;
    margin-bottom: 11px;
    transition: color 0.2s ease-out;
    background-color: transparent;
    border-width: 0;
    cursor: pointer;
    outline: none;
}

.helper[data-v-c9724a12]{
    font-weight: 100;
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    line-height: 30px;
    background-color: #fff;
    font-size: 14px;
}
.left[data-v-c9724a12], .clear[data-v-c9724a12], .tabs[data-v-c9724a12]{
    padding: 0 10px;
    box-sizing: border-box;
}
.left[data-v-c9724a12], .clear[data-v-c9724a12]{
    width: 150px;
}
.left[data-v-c9724a12]{
    text-align: left;
}
.clear[data-v-c9724a12]{
    text-align: right;
    cursor: pointer;
}
.tabs[data-v-c9724a12]{
    width: 200px;
    display: flex;
    justify-content: space-around;
    cursor: pointer;
}
.state[data-v-c9724a12], .actived[data-v-c9724a12]{
    display: inline-block;
    padding: 0 10px;
    cursor: pointer;
    border: 1px solid rgba(175, 47, 47, 0);
}
.actived[data-v-c9724a12]{
    border-color: rgba(175, 47, 47, 0.4);
    border-radius: 5px;
}

.real-app[data-v-8e1e9ffc]{
    width: 600px;
    margin: 0 auto;
    box-shadow: 0 0 5px #666;
}
.add-input[data-v-8e1e9ffc]{
    position: relative;
    margin: 0;
    width: 100%;
    font-size: 24px;
    font-family: inherit;
    font-weight: inherit;
    line-height: 1.4em;
    outline: none;
    color: grey;
    border: none;
    box-sizing: border-box;
    padding: 16px 16px 16px 60px;
}
body{
    margin: 0;
    background-image: url(img1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}